/* Core layout and typography */
body {
  background-image: radial-gradient(circle closest-side, #313131, #1a1a1a);
  min-height: 100vh;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.page-wrapper {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  min-height: 100vh;
  padding: 60px 0 140px 100px;
}

.logo-container {
  display: block;
  margin: 0 auto 50px 0;
}

.logo-text {
  margin: 0 0 0 -8px;
  font-size: 120px;
  font-weight: 500;
  line-height: 120px;
  letter-spacing: -0.05em;
  color: #fff;
}

.logo-text .text-span {
  color: #ff4a4a;
}

.text-block-2 {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: -0.03em;
  color: #fff;
}

.content-container {
  width: 50%;
}

.text-block-3 {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: -0.03em;
  color: #fff;
}

.footer-text-container {
  position: absolute;
  right: 100px;
  bottom: 100px;
}

.footer-text {
  font-size: 20px;
  font-weight: 300;
  color: #fff;
}

.highlight-text {
  color: #ffffffb3;
  text-decoration: underline;
}

/* Password page */
.utility-page-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.utility-page-content {
  width: 260px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.utility-page-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.error-message {
  color: #ff4a4a;
  margin-top: 10px;
  display: none;
}

/* Responsive tweaks */
@media screen and (max-width: 991px) {
  .logo-text {
    margin-left: -5px;
    margin-bottom: 5px;
    font-size: 80px;
    line-height: 90px;
  }
  .text-block-2 {
    margin-top: 10px;
    font-size: 18px;
  }
  .content-container {
    width: 65%;
  }
  .text-block-3,
  .footer-text {
    font-size: 18px;
  }
}

@media screen and (max-width: 767px) {
  .page-wrapper {
    padding-top: 30px;
    padding-left: 60px;
  }
  .logo-text {
    margin-left: -4px;
    font-size: 60px;
    line-height: 70px;
  }
  .text-block-2 {
    font-size: 14px;
  }
  .text-block-3 {
    font-size: 14px;
  }
  .footer-text-container {
    right: 50px;
    bottom: 60px;
  }
  .footer-text {
    font-size: 14px;
  }
}

@media screen and (max-width: 479px) {
  .page-wrapper {
    padding-top: 40px;
    padding-left: 20px;
    align-items: flex-start;
  }
  .logo-container {
    margin-bottom: 40px;
    margin-left: 20px;
  }
  .logo-text {
    margin-left: -2px;
    font-size: 48px;
    line-height: 55px;
  }
  .text-block-2 {
    font-size: 12px;
    line-height: 14px;
  }
  .content-container {
    width: 75%;
    margin-top: 20px;
    margin-left: 20px;
  }
  .text-block-3 {
    font-size: 12px;
  }
  .footer-text-container {
    right: 5%;
    bottom: 10%;
    text-align: right;
  }
  .footer-text {
    font-size: 12px;
    text-align: right;
  }
}
